.B_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 10% 0 10%;
	padding-top: 130px;
}

.B_banner {
	width: 75%;
}

.B_name {
	color: #DE1A10;
	margin-top: 30px;
	font-size: 36px;
}

.B_category {
	display: flex;
	justify-content: space-around;
	color: #DE1A10;
	margin: 30px 0;
	width: 100%;


}

.B_Categories {
	min-width: 150px;
	display: flex;
	width: 100%;
	height: 48px;
	margin: 0 60px;
	padding: 12px 10px;
	justify-content: center;
	align-items: center;
	gap: 7px;
	border-radius: 47px;
	border: 2px solid #A12424;
	background: var(--nav, #DE1A10);
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;

}

.B_item {
	width: 80%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	margin: 30px 0;

}

.B_pages {
	width: 100%;
	text-align: center;
	margin: 20px;
	font-size: 1rem;
}