.c_listMain {
	margin: 0 80px 100px;
	padding-top: 130px;
	display: flex;
	flex-direction: column;
	align-items: center;

	@media (max-width: 1024px) {
		margin: 0 20px 100px;
	}

	.c_listTop {
		width: 65%;

		@media (max-width: 1024px) {
			width: 80%;
			height: auto;
		}

		.c_listHead {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			color: #333;

			@media (max-width: 1024px) {
				flex-direction: column;
				align-items: flex-start;
				gap: 10px;
			}

			.c_listMark {
				display: grid;
				text-align: center;

				h2 {
					font-size: 64px;
					letter-spacing: .1em;
					white-space: nowrap;

					@media (max-width:1024px) {
						font-size: 48px;
					}

					@media (max-width:640px) {
						font-size: 36px;
					}

					span {
						font-size: 48px;

						@media (max-width:1024px) {
							font-size: 36px;
						}

						@media (max-width:640px) {
							font-size: 24px;
						}
					}
				}

				small {
					font-size: 24px;

					@media (max-width:1024px) {
						font-size: 18px;
					}
				}
			}

			.c_listSlogan {
				font-size: 28px;

				@media (max-width:1024px) {
					font-size: 22px;
					font-weight: 400;
				}

				@media (max-width:640px) {
					font-size: 18px;
				}
			}
		}

		.c_listPic {
			margin-top: 200px;
			display: flex;
			align-items: end;
			justify-content: end;
			position: relative;
			overflow: hidden;

			@media (max-width:1024px) {
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin-top: 70px;
			}

			@media (max-width:640px) {
				margin-top: 50px;
			}

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 80%;
				height: 3px;
				background: #444;

				@media (max-width:1024px) {
					width: 100%;
				}
			}


			.c_listPicBox {
				position: relative;
				display: flex;
				min-width: 200px;
				width: 100%;
				max-width: 600px;
				height: 200px;

				@media (max-width:1024px) {
					justify-content: end;
					align-items: center;
					order: 2;
				}

				.c_list_dinosaur {
					position: absolute;
					width: 12%;
					min-width: 40px;
					height: auto;
					bottom: 0;
					transition: left 0.05s linear, bottom 0.5s ease, opacity 0.3s ease;
					opacity: 1;

					&.hidden {
						opacity: 0;
						transition: opacity 0.3s ease;
					}

					&.jump {
						animation: dinoJump 1.8s ease-in-out;

						@media (max-width:1550px) {
							animation: dinoJump2 1.8s ease-in-out;
						}
					}
				}

				.c_list_tree {
					position: absolute;
					width: 7%;
					min-width: 30px;
					height: auto;
					bottom: 0px;
				}
			}

			.c_listB {
				display: flex;
				align-items: center;
				justify-content: end;

				@media (max-width:1024px) {
					order: 1;
					flex-direction: column;
					gap: 30px;

				}

				.c_list_1 {
					max-width: 250px;
					min-width: 100px;
					height: auto;
					margin-right: 50px;

					@media (max-width:1024px) {
						display: none;
					}
				}

				.c_listIntro {
					width: 250px;
					min-width: 150px;
					color: #222;
					font-size: 16px;

					@media (max-width:1024px) {
						width: 60vw;
						text-align: center;
					}
				}
			}
		}
	}

	.c_listA {
		width: 65%;
		position: relative;
		margin-top: 150px;
		display: flex;
		flex-direction: column;
		align-items: center;

		@media (max-width:1024px) {
			width: 80%;
		}

		.c_list_2 {
			position: absolute;
			pointer-events: none; // 被穿透
			left: 50.5%;
			z-index: -1;

			@media (max-width:1350px) {
				display: none;
			}

			img {
				height: 1250px;
				width: 20px;
			}
		}

		.c_listTitle {
			font-size: 40px;
			line-height: 120%;
			color: #FF0C00;
			margin-bottom: 30px;
			white-space: nowrap;

			@media (max-width:768px) {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.c_listNum {
				color: #D5140B;
				font-weight: 600;
			}

			@media (max-width:1024px) {
				font-size: 32px;
			}
		}

		.c_listDirections {
			font-size: 20px;
			margin-bottom: 50px;
		}

		.c_listTxt {
			font-size: 18px;
			box-sizing: border-box;
		}

		.c_listOutBox {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(1, 1fr);
			gap: 30px;
			max-width: 1000px;

			@media (max-width:768px) {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				.c_list_6,
				.c_list_7 {
					max-width: 260px;
				}

			}

			.c_listDirebox1 {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				max-width: 60%;
				min-width: 320px;

				@media (max-width:768px) {
					align-items: center;
				}
			}

			.c_listBubble {
				display: grid;
				justify-self: end;
				align-items: center;
				grid-row: 1;
				grid-column: 2;
				width: 70%;

				@media (max-width:768px) {
					display: none;
				}
			}


			.c_listDirebox2 {
				display: flex;
				flex-direction: column;
				align-items: end;
				justify-self: end;
				width: 60%;
				min-width: 320px;
				grid-row: 2;
				grid-column: 2;

				@media (max-width:768px) {
					align-items: center;
				}
			}

			.c_listDirebox3 {
				display: flex;
				flex-direction: column;
				grid-row: 3;
				grid-column: 1 / span 2;

				@media (max-width:768px) {
					align-items: center;
				}

				.c_listRun {
					display: flex;
					align-items: end;
					justify-content: space-between;
					margin: 80px 50px 0;

					@media (max-width:1024px) {
						margin: 10px 50px 0;
					}

					@media (max-width:640px) {
						display: none;
					}

					.c_list_dinosaur2 {
						width: 11%;
						height: auto;
					}

					.c_list_tree1 {
						width: 8%;
						height: auto;
					}

					.c_list_tree2 {
						width: 5%;
						height: auto;
					}

					.c_list_tree3 {
						width: 12%;
						height: auto;
					}
				}
			}
		}

		.c_listCorrBox {
			display: flex;
			justify-content: center;
			align-items: start;
			gap: 70px;
			margin-top: 100px;

			@media (max-width:1024px) {
				flex-direction: column;
			}

			.c_listCorrect {
				display: flex;
				flex-direction: column;
				align-items: center;

				.c_listIcon {
					min-height: 5%;
					width: auto;
					margin-bottom: 30px;
				}

				li {
					list-style-type: disc;
					font-size: 16px;

					span {
						font-weight: 500;
					}
				}
			}
		}
	}
}

@keyframes dinoJump {
	0% {
		transform: translateY(0);
	}

	8% {
		transform: translateY(-40%);
	}

	30% {
		transform: translateY(-70%);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes dinoJump2 {
	0% {
		transform: translateY(0);
	}

	8% {
		transform: translateY(-50%);
	}

	35% {
		transform: translateY(-80%);
	}

	100% {
		transform: translateY(0);
	}
}