.c_packMain {
    margin: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .c_packTop {
        // position: sticky;
        // top: 0;
        width: 65%;
        height: 100vh;

        .c_packHead {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            color: #333;

            .c_packMark {
                display: grid;
                text-align: center;

                h2 {
                    font-size: 64px;
                    letter-spacing: .1em;

                    span {
                        font-size: 48px;
                    }
                }

                small {
                    font-size: 24px;
                }
            }

            .c_packSlogan {
                font-size: 28px;

            }
        }

        .c_packPic {
            margin-top: 200px;
            display: flex;
            align-items: center;
            gap: 150px;

            .c_packIntro {
                width: 250px;
                color: #222;
            }

            .c_package_twopeople {
                width: 400px;
            }
        }
    }

    .c_packPrepare {
        width: 65%;
        height: 100vh;
        gap: 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .c_packA {
            font-size: 24px;
            line-height: 150%;
        }

        .c_packOutBox {
            display: flex;
            gap: 80px;

            .c_packBox {
                // display: grid;
                // align-items: center;
                width: 400px;

                .c_packContainer {
                    position: relative;
                    display: block;

                    .c_packTilBoxShadow {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        bottom: -10px;
                        right: -10px;
                        clip-path: polygon(0% 10px, 10px 10px, 10px 0%,
                                calc(100% - 10px) 0%, calc(100% - 10px) 10px, 100% 10px,
                                100% calc(100% - 10px), calc(100% - 10px) calc(100% - 10px), calc(100% - 10px) 100%,
                                10px 100%, 10px calc(100% - 10px), 0% calc(100% - 10px));
                        border: #FF0000 solid 20px;
                        // z-index: -1;
                    }

                    .c_packTilBox {
                        // position: relative;
                        // display: inline-block;
                        background-color: #fff;
                        clip-path: polygon(0% 10px, 10px 10px, 10px 0%,
                                calc(100% - 10px) 0%, calc(100% - 10px) 10px, 100% 10px,
                                100% calc(100% - 10px), calc(100% - 10px) calc(100% - 10px), calc(100% - 10px) 100%,
                                10px 100%, 10px calc(100% - 10px), 0% calc(100% - 10px));
                        border: #000 solid 10px;
                        // z-index: 1;

                        .c_packTitle {
                            font-size: 24px;
                            line-height: 150%;
                            padding: 10px;
                            text-align: center;
                        }
                    }
                }

                .c_packDirections {
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 200%;
                    margin: 20px 35px 20px 0;
                }
            }

            img {
                display: block;
                max-height: 200px;
                width: auto;
            }

        }
    }
}