.c_inputOut {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    // width: 420px;
    // height: 56px;

    .c_inputPlace {
        display: flex;
        align-items: center;
        position: relative;
        // border: 1px solid #ccc;
        height: 56px;
        margin: 10px;


        .c_inputIcon {
            position: absolute;
            margin-left: 35px;
            width: 24px;
            height: 24px;
        }

        .c_line {
            position: absolute;
            margin-left: 65px;
            height: 28px;
            width: 2px;
        }

        .c_inputBox {
            display: flex;
            text-align: center;
            flex: 1;
            height: 56px;
            padding: 0 60px;
            margin: 20px;
            border-radius: 999px;
            background-color: #FCFAFF;
            border: #444;
            box-shadow: 2px 4px 5px rgba(0, 0, 0, .25), 2px 2px 4px rgba(0, 0, 0, .25) inset;
            color: #333;
            font-family: "Noto Sans TC", sans-serif;
            font-size: 16px;

            &:focus {
                outline: solid 2px rgb(92, 92, 92)
            }
        }

        .c_suffixIn {
            position: absolute;
            right: 45px;
            border: solid 0.5px #979797;
            border-radius: 5px;
            background-color: #FCFAFF;
            font-size: 12px;
            white-space: nowrap;
            padding: 2px;
            color: #595959;
            cursor: pointer;
            font-family: "Noto Sans TC", sans-serif;
        }
    }

    .c_hintIn {
        font-size: 14px;
        color: #595959;
        margin-left: 60px;
        font-family: "Noto Sans TC", sans-serif;
        text-align: left;
    }
}