.c_main {
    display: flex;
    justify-content: center;
    padding-top: 130px;

    .c_regWin {
        display: grid;
        justify-content: center;
        text-align: center;
        max-width: 800px;
        // width: 800px;
        width: 80vw;
        border-radius: 20px;
        border: solid 1px #DEDADA;
        background-color: #FCFAFF;
        padding: 20px 0;
        margin: 30px 0;

        .c_successBox {
            display: grid;
            text-align: center;
            place-items: center; // img是行內元素grid配place-items置中

            h2 {
                font-size: 32px;
                margin: 40px;
            }

            p {
                font-size: 24px;
                margin-bottom: 60px;
            }

            img {
                max-width: 50%;
                margin-bottom: 80px;
            }

            .c_regLoginNow {
                cursor: pointer;
                padding: 5px 15px;
                margin: 0 30px 5px;
                border-radius: 999px;
                background-color: #DE1A10;
                border: solid 2px #A12424;
                color: #FCFAFF;
                font-size: 20px;
                font-weight: 600;
                line-height: 30px;
                transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;

                &:hover {
                    box-shadow: 2px 4px 5px rgba(0, 0, 0, .25);
                }

                &:active {
                    background-color: #fff;
                    color: #DE1A10;
                }
            }
        }

        .c_regTitle {
            font-size: 32px;
            text-align: center;
            margin-bottom: 5px;
            @media(max-width:640px) {
                font-size: 24px;
            }
        }

        .c_regContent {
            display: grid;
            justify-content: center;
            padding: 0 60px;
            width: 420px;

            @media(max-width:640px) {
                max-width: 75vw;
                padding: 0 30px;
            }

            .c_regErr {
                color: #DE1A10;

                @media (max-width:640px) {
                    font-size: 14px;
                }
            }

            .c_ruleCheck {
                margin: 10px 50px;
                text-align: left;

                @media (max-width:640px) {
                    font-size: 14px;
                }

                .c_eighteen {
                    color: #DE1A10;
                }

                a {
                    color: #1E39E6;
                    white-space: nowrap; // 保持連結完整不斷行
                    display: inline-block; // 可設定 padding、hover 效果
                }
            }

            .c_btn-register {
                cursor: pointer;
                padding: 5px;
                margin: 5px 10px;
                border-radius: 999px;
                background-color: #DE1A10;
                border: solid 2px #A12424;
                color: #FCFAFF;
                font-size: 20px;
                font-weight: 600;
                // max-width: vw;
                // width: 36vw;
                // line-height: 30px;
                transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;

                @media(max-width:640px) {
                    max-width: 75vw;
                    font-size: 16px;
                    line-height: 20px;
                }

                &:hover {
                    box-shadow: 2px 4px 5px rgba(0, 0, 0, .25);
                }

                &:active {
                    background-color: #fff;
                    color: #DE1A10;
                }
            }


            .c_regLogin {
                display: flex;
                justify-content: center;

                @media (max-width:640px) {
                    font-size: 14px;
                }

                a {
                    color: #DE1A10;
                    white-space: nowrap; // 保持連結完整不斷行
                    display: inline-block; // 可設定 padding、hover 效果
                }
            }
        }
    }
}