.J_cartPage {
    padding: 140px 0 120px;

@media (max-width:1024px) {
            padding: 140px 45px 50px;

    }

    @media (max-width:900px) {
            padding: 100px  clamp(15px, 5vw, 45px) 50px;

    }

    @media (max-width:640px) {
            padding: 80px 8px 30px;

    }

    .J_cartTitle {
        color: #DE1A10;
        font-size: 25px;
        line-height: 150%;

        text-align: center;
        margin-bottom: 20px;

        @media (max-width:640px) {
           margin-bottom: 10px;

    }
    }


    .J_cartContainer {
        display: flex;
        gap: 5%;
        max-width: 80%;
        margin: 0 auto;

        // 平板版以下讓結帳框框到下面
     
        @media (max-width:1024px) {
            /* 平板板改為上下排列 */
            flex-direction: column;
            gap: 4px;
            max-width: 100%;
            width: 100%;
            padding: 8px;
            margin: 0;

            /* 讓左右欄各自撐滿寬度 */
            .J_cartLeft,
            .J_cartRight {
                flex: none;
                width: 100%;
                padding: 0;
            }

            /* 右欄與左欄之間的間距 */
            .J_cartRight {
                display: flex;
                justify-content: center;
                margin-top: 12px;
                width: 100%;
            }
        }


    }

    /* 左側 */
    .J_cartLeft {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    /* 右側 */
    .J_cartRight {
        flex: 1;
    }

    /* 區塊通用樣式 */
    .J_cartSection {
        background: #fff;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

        @media (max-width:640px) {
            padding: 24px;
        }

        .J_cartSectionA {
            display: flex;
            width: 157px;
            height: 36px;
            justify-content: center;
            align-items: center;
            gap: 17px;
            flex-shrink: 0;
        }

        .J_sectionTitle {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
            border: none;
            color: #D5140B;
            display: inline-flex;
            align-items: center;
            gap: 12px;
        }

        img {
            width: 34px;
            height: 40px;
        }
    }

    .J_cartSection2 {
        background: #fff;
        padding: 30px 50px 30px 70px;
        border-radius: 20px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

        @media (max-width:640px) {
            padding: 32px;
        }

        .J_cartSectionA {
            display: flex;
            width: 157px;
            height: 36px;
            justify-content: center;
            align-items: center;
            gap: 17px;
            flex-shrink: 0;
        }

        .J_sectionTitle {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
            border: none;
            color: #D5140B;
            display: inline-flex;
            align-items: center;
            gap: 12px;
        }

        img {
            width: 34px;
            height: 40px;
        }
    }

    /* 商品清單 */

    .J_cartItem {
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 12px 0;
        padding: 8px 0;
        border-bottom: 1px solid #eee;

        .J_product {
            display: flex;
            align-items: center;
            gap: 12px;

        }

        @media (max-width:640px) {

            .J_product {
                flex-direction: column;
                gap: 8px;

                img {
                    margin: 0 auto;
                }
            }
        }

        img {
            width: 60px;
            height: 60px;
            object-fit: cover;
        }

        .J_itemInfo {
            flex: 1;

            .J_itemTitle {
                font-size: 14px;
                margin-bottom: 4px;
            }

            .J_itemPrice {
                color: #e60023;
                font-size: 14px;
            }
        }

        .J_itemQty {
            // margin-right: 10px;
            font-size: 14px;   
            max-width: 20px;
            width: 100%;        
        }

        .J_deleteBtn {
            background: none;
            border: none;

            cursor: pointer;
            // transition: transform 0.2s ease;

            img {
                width: 15px;
                height: 20px;
            }
            
        }
    }

    .J_cartItem:last-child {
        border-bottom: none;
    }

    /* 運送 & 付款 */
    .J_shippingOptions,
    .J_paymentOptions {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 14px;

        .J_optionGroup {
            display: inline-flex;
            align-items: center;
            gap: clamp(10px, 4vw, 50px);;
            margin-bottom: 15px;
            flex-wrap: wrap;

            // 寬度小於等於1496後讓運送選項一行一個小朋友
            @media (max-width:1496px) {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
            }

            

            label {
                display: flex;
                align-items: center;
                gap: 12px;
                cursor: pointer;





                input {
                    margin-right: 5px;
                }
            }

            .J_storeInf {
                .J_other {
                    color: #343434;
                }
            }

        }
    }

    .J_paymentOptions {
        display: flex;
        flex-direction: row;
        gap: 50px;
        padding: 20px 0 10px;
        flex-wrap: wrap;

        //寬度小於等於1496後讓付款選項一行一個小朋友
        @media (max-width:1496px) {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }


        label {

            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 14px;
            cursor: pointer;

            img{
                width: 26px;
                height: 26px;
            }
            
            .J_LINEPAY{
                width: 30px;
                height: 30px;
            }
            .J_JKOPay{
                width: 30px;
                height: 30px;
            }
        }
    }

    /* 備註 */
    .J_notes {
        display: flex;
        gap: 25px;
        margin: auto;

        h3 {
            color: #000;
            font-size: 25px;
            font-style: normal;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        textarea {
            border: 2px solid #B5B5B5;
            border-radius: 10px;
            padding: 10px;
            min-height: 120px;
            resize: none;

            outline: none;
            max-width: 625px;
            width: 100%;
            font-size: 16px;
            font-style: normal;
            font-weight: 350;
            line-height: 150%;

            // &:focus {
            //     border-color: #0070f3;
            //     box-shadow: 0 0 0 2px rgba(0, 112, 243, 0.2);
            // }
        }
    }

    /* 結帳摘要 */
    .J_cartSummary {
        width: 200px;
        background: #fff;
        padding: 12px 20px 20px 20px;
        border-radius: 20px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);



        p {
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
            font-size: 20px;
            color: #DE1A10;
        }

        .J_total {
            font-size: 20px;
            color: #DE1A10;
        }

        .J_checkoutBtn {
            background: #DE1A10;
            color: white;
            width: 155px;
            font-size: 16px;

            border-color: #A12424;
            border-radius: 999px;
            padding: 8px 8px;
            cursor: pointer;


            .J_checkoutContent {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .J_Checkout {
                width: 85%;

            }

                // 通用 hover / active，讓桌機也有反應（原本只在 media query 內）
                &:hover {
                    box-shadow: 2px 4px 5px rgba(0, 0, 0, .25);
                }

                &:active {
                    background-color: #fff;
                    color: #DE1A10;
                }

        }

        // 平板版結帳摘要
        @media (max-width:1024px) {
            width: 60%;

            padding: 8px 20px 20px 20px;
            // clamp(10px, 6vw, 100px)

            p{
                font-size: 16px;
                margin: 12px clamp(0px, 4vw, 80px);
                letter-spacing: clamp(0px, 1vw, 3px);;
            }
            .J_total{
                font-size: 16px;
            }

            .J_checkoutBtn{
                font-size: 14px;
                   display: block;
                   margin: 12px auto 0 auto;

                  
            }
        }

    }
}