.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 230px;
    border-top: solid 1px rgba(63, 63, 63, 0.7);

    nav {
        height: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sitemap-f {
        font-size: 20px;
        font-weight: bold;
    }

    >div {
        flex: 1;
    }

    a {
        text-decoration: none;
    }

    .sitemap {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            // margin: 5px 0;
            width: 250px;
            text-align: center;
        }
    }

    small {
        margin-top: auto;
        display: block;
        width: 100%;
        height: 50px;
        text-align: center;
        padding: 10px 0;
    }
}

/* Light 主題 */
.footer.light {
    background-color: transparent;
    color: var(--light);

    a,
    .sitemap-f {
        color: var(--light);
    }

    small {
        background-color: #000;
        color: var(--light);
    }
}

/* Red 主題 */
.footer.red {
    background-color: transparent;
    color: var(--nav);

    a {
        color: var(--nav);
        display: inline;
    }

    small {
        background-color: #000;
        color: var(--nav);
    }
}