footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
	align-items: center;
    justify-content: center;
    height: 230px;
    background-color: rgba(255, 255, 255, 0);
    color: var(--light);
    border-top: solid 1px rgba(63, 63, 63, 0.7);
    /* justify-content: center; */
}
nav{
    padding: 20px 30px;
}
.sitemap-f{
    font-size: 20px;
    font-weight: bold;
}

.sitemap li{
    margin: 5px 0;
}
footer>div{
    flex: 1;
}
footer a{
    color: var(--light);
}
footer .sitemap{
    display: flex;
    gap: 20px;
	list-style: none;
	margin: 0;
	padding: 0;
}
footer .sitemap>li{
    margin: 0 80px;
    text-align: center;
}
small{
    margin-top: auto;
    background-color: #000;
    display: block;             /* 讓它變成整段（占滿一行） */
	width: 100%;                /* 延伸整個 footer 寬度 */
	text-align: center;         /* 文字置中 */
	padding: 10px 0;            /* 上下內距 */
    /* justify-content: center; */
}