.navigation {
	background-color: rgba(255, 255, 255, 0);
	font-weight: 500;
	font-size: 18px;
	/* 完全透明 */
	position: fixed;
	/* 固定在上方 */
	top: 0;
	width: 100%;
	z-index: 999;
	display: flex;
	align-items: center;
	align-items: flex-end;
	justify-content: space-between;
	padding: 0 20px;
	height: 80px;
}

.navigation.scrolled {
	background-color: #000000;
}

#topbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 85px;
	background-color: rgba(255, 255, 255, 0);
	z-index: 999;
	/* border-bottom: solid 1px rgba(63, 63, 63, 0.7); */
}

#topbar ul {
	display: flex;
	justify-content: flex-end;
}

.logo img {
	padding-top: 20px;
	height: 100px;
}

.menu {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	gap: 100px;
	list-style: none;
	margin: 0;
	padding-bottom: 15px;
}

.menu li a {
	text-decoration: none;
	color: var(--light);
}

.nav-icon {
	padding-bottom: 10px;
}

#topbar .nav-icon a {
	/* display: inline-block; */
	width: 35px;
	height: 35px;
	margin: 5px;
	/* background-size: contain; */
	/* background-repeat: no-repeat; */
}

#topbar .icon-search {
	background-image: url(../images/icon/icon-search.svg);
}

#topbar .icon-Shopping_cart {
	background-image: url(../images/icon/icon-Shopping_cart.svg);
}

#topbar .icon-member {
	background-image: url(../images/icon/icon-member.svg);
}

#topbar .icon-bell {
	background-image: url(../images/icon/icon_bell.svg);
}

#topbar .icon-hamburger {
	background-image: url(../images/icon/icon-hamburger.svg);
}

.shadow-img {
	position: relative;
	display: inline-block;
}

.shadow-img::after {
	content: '';
	position: absolute;
	left: 10%;
	bottom: 5px;
	width: 80%;
	height: 8px;
	background: rgba(0, 0, 0, 0.3	);
	filter: blur(6px);
	border-radius: 50%;
}