#New_info {
    padding-top: 130px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .c_newHead {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 28px;
            font-weight: 600;
        }

        p {
            font-size: 24px;
            font-weight: 500;
            
        }
    }

    .c_newNewBox {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 30px 20px;

        .c_news {
            display: flex;
            flex-direction: column;
            // padding: 0 clamp(50px, 30px, 20px);
            max-width: 850px;
            width: 80%;

            @media (max-width:1024px) {
                width: 90%;
            }

            .new-card {
                display: flex;
                justify-content: space-between;
                align-items: start;
                margin: 15px 0;
                // padding-bottom: 16px;
                border-bottom: 2px solid black;


                @media (max-width:1024px) {
                    margin: 15px 0;
                    // padding-bottom: 30px;
                }

                img {
                    display: block;
                    width: 20%;
                    min-width: 105px;
                    align-self: center;

                    @media (max-width:1024px) {
                        width: 120px;
                        height: auto;
                    }
                }

                .newfont {
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    margin-bottom: 5%;
                    gap: 20px;
                    padding: 15px 20px 0 20px;

                    h4 {
                        font-size: 24px;
                        color: #000000;
                        text-decoration: underline;
                        text-underline-offset: 8px;
                        font-weight: 700;
                    }

                    p {
                        font-size: 18px;
                        color: #000000;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        line-clamp: 2;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                        padding-left: 3%;
                    }
                }
            }
        }
    }
}




@media (max-width:640px) {
    #New_info {
        .c_newNewBox {
            .c_news {
                width: 100%;

                .new-card {
                    align-items: center;

                    img {
                        width: 100px;
                        height: auto;
                    }

                    .newfont {
                        padding-left: 20px;

                        h4 {
                            font-size: 20px;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            line-clamp: 1;
                            -webkit-line-clamp: 1;
                            overflow: hidden;
                        }

                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}